.container-fluid
  .row
    .col-1
    .col-10
      = bootstrap_form_for @message do |f|
        = hidden_field_tag :model, params[:model]
        = hidden_field_tag :id, params[:id]
        .row
          .col-10
            = f.text_area :message, label: "Bericht voor: #{@messageable.name}", autofocus: true
        .row
          .col-10
            = f.check_box :email_notification, label: "Stuur email notificatie"
        .row
          .col-10.mb-5.mt-3
            = f.submit 'Versturen', class: 'btn btn-primary'
    .col-1
