- @messages.each do |message|
  .row.mb-1.align-items-center
    .col-12.border-bottom
      .row
        .col-12
          %h3
            = message.title
      .row
        .col-12.small
          = "Door #{message.member.full_name}, #{distance_of_time_in_words(message.created_at, Time.now)} geleden"
          = link_to '[-]', message_path(message), method: :delete, data: { confirm: 'Weet u het zeker?' } if current_member.admin?
          = link_to '[edit]', edit_message_path(message) if current_member.admin?
      .row.mt-2.mb-2
        .col-12
          = message.message
      .row.mt-2.mb-2
        .col-12
          - if message.upload.attached?
            - path = rails_blob_path(message.upload)
            - if %w(jpg png gif).include?(path.split(".").last)
              %img.w-100{src: rails_blob_path(message.upload, disposition: 'attachment')}
            - else
              = link_to message.upload.filename, rails_blob_path(message.upload, disposition: 'attachment')




