.col-1
.col-10
  .row
    .col-10
      %h3
        = @rehearsal.description
  .row
    .col-10
      = "Datum: #{@rehearsal.date_time.strftime('%d-%m-%Y %H:%M')}"
  .row
    .col-10.mt-3
      - if @rehearsal.is_accepted_by?(current_member)
        %h3.text-success
          U bent aangemeld
      - elsif @rehearsal.is_declined_by?(current_member)
        %h3.text-danger
          U bent afgemeld
      - else
        %h3
          U bent niet aangemeld
  .row
    .col-10.mt-3
      - if @rehearsal.is_attended_by?(current_member)
        U bent registreerd als aanwezig
      - elsif @rehearsal.is_not_attended_by?(current_member)
        U bent registreerd als afwezig
      - else
        = render partial: 'accept_decline_buttons'

  .row
    .col-10.mt-3
      Aanmeldigen:
      = @accepted_members_count
  .row
    .col-10
      Afmeldingen:
      = @declined_members_count

  - if @rehearsal.max_present && @rehearsal.max_present >= 0
    .row
      .col-10
        Beschikbare plaatsen:
        = @rehearsal.max_present - @accepted_members_count

  - if !@rehearsal.playable_songs.empty?
    .row
      .col-10.mt-3.font-weight-bold
        Te repeteren:
    - @rehearsal.playable_songs.each do |ps|
      .row
        .col-10
          = ps.song.title
      .row
        .col-10.small.mb-2
          = ps.remark
  .row.mt-3
    .col-10
      = link_to 'Aan- en afmeldingen', rehearsal_registrations_path, class: 'underline'
  .row.mt-3
    .col-10
      = link_to 'Aanwezigheid', rehearsal_presence_path, class: 'underline'
  .row.mt-3
    .col-10
      = link_to 'Overzicht repetities', rehearsals_path, class: 'underline'
