.container-fluid
  .row
    .col-1
    .col-10
      = bootstrap_form_for ['admin', @member] do |f|
        .row
          .col-10
            %h3
              Lid
        .row
          .col-10
            = f.text_field :first_name, label: 'Voornaam'
            = f.text_field :last_name, label: 'Achternaam'
            = f.text_field :email, label: 'Email'
            = f.collection_check_boxes :ensemble_instrument_ids, EnsembleInstrument.all, "id", :ensemble_instrument_and_party, { label: 'Orkest en instrument' }
            = f.collection_check_boxes :group_ids, Group.all, "id", :name, { label: 'Groepen' }

        .row
          .col-10.mb-5
            = f.submit 'Opslaan', class: 'btn btn-primary'
    .col-md-1
