.container-fluid
  .row
    .col-1
    .col-10
      = bootstrap_form_for ['admin', @member] do |f|
        .row
          .col-10
            %h3
              Lid
        .row
          .col-10
            = f.text_field :first_name, label: 'Voornaam'
            = f.text_field :last_name, label: 'Achternaam'
            = f.text_field :email, label: 'Email'
            = f.collection_select :ensemble_instrument_ids, EnsembleInstrument.all, "id", :ensemble_instrument_and_party, {label: 'Orkest en instrument'}, { :multiple => true }
            = f.collection_select :group_ids, Group.all, "id", :name, {label: 'Groepen'}, { :multiple => true }

        .row
          .col-10.mb-5
            = f.submit 'Opslaan', class: 'btn btn-primary'
    .col-md-1
