.container-fluid
  .row
    .col-1
    .col-10
      = bootstrap_form_for ['admin', @member] do |f|
        .row
          .col-10
            %h3
              Lid
        .row
          .col-10
            = f.text_field :first_name, label: 'Voornaam'
            = f.text_field :last_name, label: 'Achternaam'
            = f.text_field :email, label: 'Email'
            = f.collection_select :ensemble_instrument_ids, EnsembleInstrument.all, "id", :name, { prompt: 'Selecteer ensembles' }, { :multiple => true }

            //= f.select :instrument_id, options_from_collection_for_select(Instrument.all, :id, :name)
        .row
          .col-10
            = f.submit 'Opslaan'
    .col-md-1
