- @members.each do |member|
  .row.mb-1.align-items-center
    .col-6
      %span.font-weight-bold
        = link_to "#{member.full_name}", admin_member_url(member)
      = "(#{member.email})"
    .col-6
      .btn-group.float-right
        .btn-group
          .btn.btn-sm.btn-outline-secondary.dropdown-toggle{ data: { toggle: 'dropdown' } }
            Acties
            .dropdown-menu
              = link_to 'Verstuur inlog link', admin_member_send_login_link_url(member), class: 'dropdown-item'
              = link_to 'Verstuur wachtwoord reset', admin_member_send_reset_password_link_url(member), class: 'dropdown-item'
              = link_to 'Bewerken', edit_admin_member_path(member), class: 'dropdown-item'
        = link_to 'Verwijderen',admin_member_path(member),  method: :delete, data: { confirm: 'Weet u het zeker?' }, class: 'btn btn-sm btn-danger'



