.container-fluid
  .row
    .col-1
    .col-10
      = bootstrap_form_for ['admin', @song] do |f|
        .row
          .col-12
            %h3
              Muziekstuk
        .row
          .col-10
            = f.text_field :title, label: 'Titel'
            = f.text_field :composer, label: 'Componist'
            = f.collection_select :ensemble_id, Ensemble.all, 'id', :name, {}, { :multiple => false }
            = f.select :state, %w(Instuderen Speelbaar Archief), label: 'Staat'
        .row
          .col-10.mb-5
            = f.submit 'Opslaan', class: 'btn btn-primary'
    .col-1
