.container
  .row
    .col-12
      .row.form-group
        .col-9
          %h3
            Muziekstukken
      = form_for_filterrific @filterrific do |f|
        .row.form-group
          .col-lg-4.input-group
            = f.collection_select(:ensemble_filter, Ensemble.all, :id, :name, {}, { class: 'filterrific-periodically-observed' })
          .col-lg-6.input-group
            = f.text_field(:title_filter, placeholder: 'Zoek op titel', class: 'filterrific-periodically-observed', autocomplete: 'off')
          .col-lg-2
            = link_to 'Nieuwe muziekstuk', new_admin_song_path, class: 'btn btn-secondary btn-sm float-right'
  .row
    #filterrific_results.col-12
      = render partial: 'list'
