.container-fluid
  .row
    .col-1
    .col-10
      = bootstrap_form_for ['admin', @rehearsal] do |f|
        .row
          .col-10
            %h3
              Lid
        .row
          .col-10
            = f.datetime_field :date_time, label: 'Datum en tijd'
            = f.collection_select :ensemble_ids, Ensemble.all, 'id', :name, {}, { :multiple => true }
            = f.text_field :max_present, label: 'Maximaal aantal deelnemers'

            = f.text_field :description, label: 'Omschrijving'
        .row
          .col-10
            %h3
              Te repeteren
        = f.fields_for :playable_songs do |ff|
          .row
            .col-10
              = ff.collection_select(:song_id, Song.all.for_band(current_member.band_id), :id, :title, include_blank: true, label: 'Titel')
          .row
            .col-10
              = ff.text_area :remark, label: 'Opmerkingen'

        .row
          .col-10.mb-5
            = f.submit 'Opslaan', class: 'btn btn-primary'

