.container-fluid
  .row
    .col-1
    .col-10
      = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .row
          .col-10
            %h3
              Inloggen
        .row
          .col-10
            = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input', label: 'Email'
            = f.password_field :password, autocomplete: 'current-password', class: 'input', label: 'Password'
            = f.check_box :remember_me, class: 'checkbox',label: 'Onthoud sessie'
        .row
          .col-10.mt-2
            = f.submit 'Inloggen'
    .col-md-1