.container-fluid
  .row
    .col-1
    .col-10
      = bootstrap_form_for ['admin', @gig] do |f|
        .row
          .col-10
            %h3
              Optreden
        .row
          .col-10
            = f.text_field :title, label: 'Titel'
            = f.collection_select :ensemble_ids, Ensemble.all, 'id', :name, {}, { :multiple => true }
            = f.datetime_field :date_time,  label: 'Wanneer'
            = f.text_field :where, label: 'Waar'
            = f.text_field :where_address1, label: 'Straat / huisnummer'
            = f.text_field :where_address2, label: 'Postcode / plaats'
            = f.text_field :gather_where, label: 'Waar verzamelen'
            = f.datetime_field :gather_when, label: 'Hoe laat verzamelen'
            = f.text_field :dresscode, label: 'Kleding'
            = f.text_area :member_remarks, label: 'Opmerkingen voor leden'
            = f.text_area :site_remarks, label: 'Website tekst'


        .row
          .col-10
            %h3
              Programma
        .row
          .col-10
            = f.fields_for :playable_songs do |ff|
              = ff.collection_select(:song_id, Song.all.for_band(current_member.band_id), :id, :title, include_blank: true, label: 'Titel')
              .row
                .col-10.mb-4
                  - unless ff.object.id.nil?
                    = ff.check_box '_destroy', label: 'Verwijder'
        .row
          .col-10.mb-5
            = f.submit 'Opslaan', class: 'btn btn-primary'
    .col-1
