- @gigs.each do |gig|
  .row.mb-1.align-items-center
    .col-7
      = "#{gig.date_time.strftime('%d-%m-%Y om %H:%M')}: #{gig.title}"
      = link_to 'Details', gig_path(gig)
    .col-5
      .btn-group.float-right
        - if gig.is_declined_by?(current_member)
          Afgemeld
        - elsif gig.is_accepted_by?(current_member)
          Aangemeld
        - else
          = link_to 'Ik kom'.html_safe ,accept_gig_path(gig), method: 'put', class: 'btn btn-sm btn-success'
          = link_to 'Ik kom niet',decline_gig_path(gig), method: 'put', class: 'btn btn-sm btn-danger'



