.container-fluid
  .row
    .col-1
    .col-10
      .row.mb-1
        .col-10.p-1
          %h3
            Optreden
      .row.mb-1
        .col-10.p-1
          = "#{@gig.date_time.strftime('%d-%m-%Y %H:%M')} #{@gig.title}"
      .row
        .col-10.p-1
          = "Verzamelen: #{@gig.try(:gather_when).try(:strftime, '%H:%M')}"
      .row
        .col-10.p-1
          = "locatie: #{@gig.gather_where}"
      .row
        .col-10.p-1
          = "Kleding: #{@gig.dresscode}"
      .row
        .col-10.font-weight-bold.p-1
          Programma:
      - if @gig.playable_songs.empty?
        .row.p-1
          .col-10.pl-1
            = '-'
      - @gig.playable_songs.each do |ps|
        .row
          .col-10.pl-1
            = ps.song.title

      - unless @gig.member_remarks.blank?
        .row
          .col-10.p-1
            = @gig.member_remarks
      .row
        .col-10.p-1
          Aanwezigheid:
          %span.font-weight-bold{style: "color: #{status_color(@status)}"}
            = @status
      .row
        .col-5.p-1
          %a{"href"=>"#", "data-target" => "#myModal", "data-toggle" => "modal"}
            Bekijk bezetting
      .row
        .col-10.col-lg-2.p-1
          - if %w(Onbekend Afgemeld).include?(@status)
            = link_to 'Aanmelden'.html_safe ,accept_gig_path(@gig), method: 'put', class: 'btn btn-sm btn-success'
          - if %w(Onbekend Aangemeld).include?(@status)
            = link_to 'Afmelden',decline_gig_path(@gig), method: 'put', class: 'btn btn-sm btn-danger'
      .row
        .col-10.p-1.mt-3
          = link_to 'Terug naar overzicht', gigs_path
    .col-1

= render partial: 'layouts/availability_modal', locals: {instruments_availability: @instruments_availability, gig: @gig}