.container-fluid
  .row
    .col-1
    .col-10
      .row
        .col-10
          %h3
            Optreden
      .row
        .col-10
          %p
            = "#{@gig.date_time.strftime('%d-%m-%Y %H:%M')} #{@gig.title}"
          %p
            = "Verzamelen: #{@gig.gather_when.strftime('%H:%M')}, locatie: #{@gig.gather_where}"
          %p
            = "Kleding: #{@gig.dresscode}"
          %p
            = @gig.member_remarks
          %p
            Uw status:
            %span{style: "color: #{status_color(@status)}"}
              = @status
          %p
            %a{"href"=>"#", "data-target" => "#myModal", "data-toggle" => "modal", class: "btn btn-sm btn-info"}
              Bekijk bezetting
          %p
            - if %w(Onbekend Afgemeld).include?(@status)
              = link_to 'Aanmelden'.html_safe ,accept_gig_path(@gig), method: 'put', class: 'btn btn-sm btn-success'
            - if %w(Onbekend Aangemeld).include?(@status)
              = link_to 'Afmelden',decline_gig_path(@gig), method: 'put', class: 'btn btn-sm btn-danger'
          %p
            = link_to 'Terug naar overzicht', gigs_path
    .col-1

#myModal.modal
  .modal-dialog
    .modal-content
      / Modal Header
      .modal-header
        %h4.modal-title Bezetting overzicht
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
      / Modal body
      .modal-body
        .container.accordion-group
          .row
            .col-6
              Instrument
            .col-3
              Aangemeld
            .col-3
              Afgemeld
          - for instrument in @instruments_availability
            .row.group_header{"data-parent" => "accordion-group", "data-toggle"=>"collapse", "data-target" =>"#collapse_#{instrument['id']}", "aria-expanded"=>"true", "aria-controls"=>"collapse_#{instrument['id']}"}
              .col-6
                %a{href: "#"}
                  = instrument['instrument_name']
              .col-3
                = instrument['count_present']
              .col-3
                = instrument['count_not_present']
            .collapse.hide{"id" => "collapse_#{instrument['id']}", "aria-labelledby" => "headingOne", "data-parent" => "#accordion"}
              .card-body
                .row
                  .col-5
                    %b
                      Aangemeld:
                - members = Gig.members_for_gig_and_ensemble_instrument(@gig.id, instrument['ensemble_instrument_id'], 'true')
                - if members.count == 0
                  = "-"
                - else
                  - members.each do |member|
                    .row
                      .col-5
                        = "#{member.first_name} #{member.last_name}"
                .row
                  .col-5
                    %b
                      Afgemeld:
                - members = Gig.members_for_gig_and_ensemble_instrument(@gig.id, instrument['ensemble_instrument_id'], 'false')
                - if members.count == 0
                  = "-"
                - else
                  - members.each do |member|
                    .row
                      .col-5
                        = "#{member.first_name} #{member.last_name}"

      / Modal footer
      .modal-footer
        %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Sluiten
