.container-fluid
  .row
    .col-1
    .col-10
      .row
        .col-10
          %h3
            Optreden
      .row
        .col-10
          %p
            = "#{@gig.date_time.strftime('%d-%m-%Y %H:%M')} #{@gig.title}"
          %p
            = "Verzamelen: #{@gig.gather_when.strftime('%H:%M')}, locatie: #{@gig.gather_where}"
          %p
            = "Kleding: #{@gig.dresscode}"
          %p
            = @gig.member_remarks
          %p
            Uw status:
            %span{style: "color: #{status_color(@status)}"}
              = @status
          %p
            %a{"href"=>"#", "data-target" => "#myModal", "data-toggle" => "modal", class: "btn btn-sm btn-info"}
              Bekijk bezetting
          %p
            - if %w(Onbekend Afgemeld).include?(@status)
              = link_to 'Aanmelden'.html_safe ,accept_gig_path(@gig), method: 'put', class: 'btn btn-sm btn-success'
            - if %w(Onbekend Aangemeld).include?(@status)
              = link_to 'Afmelden',decline_gig_path(@gig), method: 'put', class: 'btn btn-sm btn-danger'
          %p
            = link_to 'Terug naar overzicht', gigs_path
    .col-1

= render partial: 'layouts/availability_modal', locals: {instruments_availability: @instruments_availability, gig: @gig}