.container-fluid
  .row
    .col-1
    .col-10
      .row
        .col-10
          %h3
            Optreden
      .row
        .col-10
          = "#{@gig.date_time.strftime('%d-%m-%Y %H:%M')} #{@gig.title}"
      .row
        .col-10
          - presence = @gig.presence_for_member(current_member)
          - if presence.nil?
            %p
              U heeft zich nog niet aan- of afgemeld
            = link_to 'Ik kom'.html_safe ,accept_gig_path(@gig), method: 'put', class: 'btn btn-sm btn-success'
            = link_to 'Ik kom niet',decline_gig_path(@gig), method: 'put', class: 'btn btn-sm btn-danger'
          - elsif presence == true
            %p
              U bent aangemeld
            = link_to 'Toch afmelden',decline_gig_path(@gig), method: 'put', class: 'btn btn-sm btn-danger'
          - elsif presence == false
            %p
              U bent afgemeld
            = link_to 'Toch aanmelden'.html_safe ,accept_gig_path(@gig), method: 'put', class: 'btn btn-sm btn-success'

      .row.mt-3
        .col-10
          = link_to 'Terug naar overzicht', gigs_path
    .col-1

