.row
  .col-6
  .col-3.small
    Aangemeld
  .col-3.small
    Afgemeld
- gig.ensembles.each do |ensemble|
  .row
    .col-6.font-weight-bold
      = ensemble.name
  - for instrument in instruments_availability[ensemble.id]
    .row.group_header{"data-parent" => "accordion-group", "data-toggle"=>"collapse", "data-target" =>"#collapse_#{instrument['ensemble_instrument_id']}", "aria-expanded"=>"true", "aria-controls"=>"collapse_#{instrument['ensemble_instrument_id']}"}
      .col-6
        %a{href: "#"}
          = instrument['instrument_name']
      .col-3
        = instrument['count_present']
      .col-3
        = instrument['count_not_present']
    .collapse.hide{"id" => "collapse_#{instrument['ensemble_instrument_id']}", "aria-labelledby" => "headingOne", "data-parent" => "#accordion"}
      .card-body
        .row
          .col-5
            %b
              Aangemeld:
        - members = Gig.members_for_gig_and_ensemble_instrument(gig.id, instrument['ensemble_instrument_id'], 'true')
        - if members.count == 0
          = "-"
        - else
          - members.each do |member|
            .row
              .col-5
                = "#{member.first_name} #{member.last_name}"
        .row
          .col-5
            %b
              Afgemeld:
        - members = Gig.members_for_gig_and_ensemble_instrument(gig.id, instrument['ensemble_instrument_id'], 'false')
        - if members.count == 0
          = "-"
        - else
          - members.each do |member|
            .row
              .col-5
                = "#{member.first_name} #{member.last_name}"