%nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.topnav
  %a.navbar-brand.topnav_font_color
    - if @cms_site.present?
      = link_to 'Home', root_url, class: 'nav-link topnav_font_color'
    - else
      = link_to 'Leden app', members_home_url, class: 'nav-link topnav_font_color'
  %button.navbar-toggler{'aria-controls' => 'navbarSupportedContent', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#navbarSupportedContent', 'data-toggle' => 'collapse', :type => 'button'}
    %span.navbar-toggler-icon.topnav_font_color
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - if @cms_site.present?
        - @cms_site.pages.root.children.published.each do |page|
          - first_slug = page.slug.split('/')[0]
          - unless %w(nomenu leden).include?(first_slug)
            - if page.children.any?
              %li.nav-item.dropdown
                = active_link_to page.label, page.url, id: 'navbarDropdown', class: 'nav-link topnav_font_color dropdown-toggle',  role: 'button', 'data-toggle' => 'dropdown',  'aria-haspopup' => 'true', 'aria-expanded' =>'false'
                .dropdown-menu{ 'aria-labelledby' => "navbarDropdown" }
                  - #render childeren
                  - page.children.each do |childpage|
                    = active_link_to childpage.label, childpage.url, class: 'dropdown-item'
            - else
              - #render parent
              %li.nav-item
                = active_link_to page.label, page.url, class: 'nav-link topnav_font_color'
        %li.nav-item
          = link_to 'Leden app', members_home_url, class: 'nav-link topnav_font_color'
      - else
        - if current_member&.admin?
          %li.nav-item.dropdown
            = link_to 'Admin', root_url, class: 'nav-link topnav_font_color', id: 'navbarDropdownAdmin', class: 'nav-link topnav_font_color dropdown-toggle',  role: 'button', 'data-toggle' => 'dropdown',  'aria-haspopup' => 'true', 'aria-expanded' =>'false'
            .dropdown-menu{ 'aria-labelledby' => "navbarDropdownAdmin" }
              = link_to 'Verenigingen', admin_bands_url, class: 'dropdown-item'
              = link_to 'Ensembles', admin_ensembles_url, class: 'dropdown-item'
              = link_to 'Instrumenten', admin_instruments_url, class: 'dropdown-item'
              = link_to 'Muziekstukken', admin_songs_url, class: 'dropdown-item'
              = link_to 'Leden', admin_members_url, class: 'dropdown-item'
              = link_to('Repetities', admin_rehearsals_path, class: 'dropdown-item')
              = link_to('Optredens', admin_gigs_path, class: 'dropdown-item')
              = link_to('Klussen', admin_chores_path, class: 'dropdown-item')
        - if current_member
          %li.nav-item.dropdown
            = link_to('Repetities', rehearsals_path, class: 'nav-link topnav_font_color')
          %li.nav-item.dropdown
            = link_to('Optredens', gigs_path, class: 'nav-link topnav_font_color')
          %li.nav-item.dropdown
            = link_to('Klussen', chores_path, class: 'nav-link topnav_font_color')
          %li.nav-item.dropdown
            = link_to('Statistieken', rehearsal_statistics_path, class: 'nav-link topnav_font_color')
          %li.nav-item.dropdown
            = link_to('Website', root_url, class: 'nav-link topnav_font_color')
          %li.nav-item.dropdown
            = link_to('Info', '/leden', class: 'nav-link topnav_font_color')
          %li.nav-item.dropdown
            = link_to('Uitloggen', destroy_member_session_path, method: :delete, class: 'nav-link topnav_font_color')
