!!!
%html{:lang => "en"}
  %head
    %title= @cms_page.present? ? @cms_page.label : "Demo App"
    / Required meta tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => cms_fragment_content("meta-description"), :name => "description"}/
    / Bootstrap CSS
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", :integrity => "sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", :rel => "stylesheet"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    - if @cms_site.present?
      = stylesheet_link_tag comfy_cms_render_css_path(@cms_site.id, @cms_layout.identifier)
      = javascript_include_tag comfy_cms_render_js_path(@cms_site.id, @cms_layout.identifier)
  %body
    = render 'layouts/navbar'
    = yield
    /
      uncomment if you want to see what those variables contain
      <haml_loud> debug @cms_site </haml_loud>
      <haml_loud> debug @cms_layout </haml_loud>
      <haml_loud> debug @cms_page </haml_loud>
    / jQuery first, then Popper.js, then Bootstrap JS
    %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
