!!!
%html{:lang => "en"}
  %head
    %title= @cms_page.present? ? @cms_page.label : "Fanfare Sint Servatius"
    / Required meta tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => cms_fragment_content("meta-description"), :name => "description"}/
    %link{rel: "manifest", href: "/manifest.json", crossOrigin: "use-credentials"}

    / Bootstrap CSS
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    - if @cms_site.present? && @cms_layout.present?
      = stylesheet_link_tag comfy_cms_render_css_path(@cms_site.id, @cms_layout.identifier)
      = javascript_include_tag comfy_cms_render_js_path(@cms_site.id, @cms_layout.identifier)
    = render 'layouts/dynamic_css'

  %body
    = render 'layouts/navbar'
    = render 'layouts/flash'
    = javascript_include_tag 'application'
    = yield

:javascript
  // workaround for non functional dropdown menu items
  $(document).ready(function () {
    $('.dropdown-item').on('click', function(){
      window.location = '#{@backlink}'
    });

    // enables clicking anywhere in the data-row
    $('.data-row').on('click', function(e){
      link = $(this).find('a').attr('href');
      if(link != undefined){
        window.location = link
        e.preventDefault();
      }
    });

  });


  $(document).ready(function () {
    $('.leftback').on('click', function(){
      window.location = '/#{@backlink}'
    });
  });
